{{!-- <article class="post">
    <div class="content">
        <p>User Name: {{post.[0].user.username}} </p>
        <p>Posts: {{post.length}}</p>
        {{!-- <a href="/dashboard/update-user">Update Info</a> --}}
    </div>
</article> --}}