<article class="post">
    <div class="posts">
        <p>User Name: {{post.[0].user.username}} </p>
        <p>Posts: {{posts.length}}</p>
        <a href="/dashboard/updateuser">Update Info</a>
    </div>
</article>