<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Var | MVC Tech Blog</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <header class="display-flex">
    <h1>
      <a href="/">The Var TechBlog</a>
    </h1>
    <nav>
      {{#if loggedIn}}
              <a href="/">Home</a>

        <a href="/dashboard">Dashboard</a>
        <a href="/dashboard/post">Post</a>
        <button id="logout" class="btn-no-style">Logout</button>
      {{else}}
        <a href="/dashboard">Dashboard</a>
        <a href="/login">Login</a>
      {{/if}}
    </nav>
  </header>

  <body>
    {{!-- <div class="wrapper"> --}}
      <main class="container container-fluid mb-5 mt-5">
        {{{body}}}
      </main>
  </body>

    </div>
    {{#if loggedIn}}
      <script src="/js/login.js"></script> 
      <script src="/js/logout.js"></script>
      <script src="/js/dashboard.js"></script>
      <script src="/js/comment.js"></script>
      <script src="/js/comment.js"></script>

    {{/if}}

</html>