
<section>
    <div class="column">
        <h2>Add a Post</h2>

        <form class="new-post-form">
                <label for="post-title">Title</label>
                <textarea id="post-title" name="post-title">
                    {{post-title}}
                </textarea>

                <label for="post_text">Text</label>
                <textarea id="post_text" name="post_text">
                    {{post_text}}
                </textarea>
            <button type="submit" class="btn" value="Submit">Submit</button>
        </form>
    </div>
</section>



<article>
    <h4>My Posts</h4>
    {{#each posts as |post|}}
        {{> post-partial}}
    {{/each}}
</article>

