
<section class="row">
    <div class="column">
        <h2>Add a Post</h2>

        <form class="new-post form">
            <div>
                <label for="post-title">Title</label>
                <input type="text" id="post-title" name="post-title"/>
                <textarea id="post-title" name="post-title">
                    {{post-title}}
                </textarea>
            </div>
            <div>
                <label for="post-text">Text</label>
                <textarea id="post-text" name="post-text">
                    {{post-text}}
                </textarea>
            </div>
            <button type="submit" class="btn" value="Submit">Submit</button>
        </form>
    </div>
</section>



{{#if posts.length}}
<article>
    <h4>My Posts</h4>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/dashboard/update-post/{{post.id}}" class="edit-link">Update Post</a>
        </li>
        {{/each}}
    </ol>
</article>
{{/if}}




<script src ="/js/login.js" ></script>
<script src ="/js/post.js" ></script>
<script src ="/js/updatePost.js" ></script>
<script src ="/js/updateUser.js" ></script>
<script src ="/js/logout.js" ></script>
