
<div class="row justify-space-between-md">

    <h2 class="page-title">Login</h2>


    <form class="login" action="/js/login.js">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>

      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>

  <form class="register">
    <div>
        <label for="username-register">Username:</label>
        <input type="text" id="username-register"/>
    </div>
    <div>
        <label for="email-register">Email:</label>
        <input type="text" id="email-register"/>
    </div>
    <div>
        <label for="password-register">Password:</label>
        <input type="password" id="password-register"/>
    </div>
    <div>
        <button type="submit">register</button>
    </div>
</form>

<a href="/login"> Please Log In</a>
<a href="/register"> Please Register</a>


<script src="/js/login.js"></script>
