{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-text"></textarea>
    </div>
    <div>
        <button type="submit">Publish Comment</button>
    </div>
</form>
{{#if loggedIn}}
<script src="/public/js/comment.js"></script>
{{/if}}
