{{!-- css? --}}

<form class="register-form">
    <div>
        <label for="username-register">Username:</label>
        <input type="text" id="username-register"/>
    </div>
    <div>
        <label for="email-register">Email:</label>
        <input type="text" id="email-register"/>
    </div>
    <div>
        <label for="password-register">Password:</label>
        <input type="password" id="password-register"/>
    </div>
    <div>
        <button type="submit">register</button>
    </div>
</form>

<a href="/login"> Please Log In</a>

<script src="/public/js/register.js"></script>