{{!-- css? --}}

<form class="register-form">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username"/>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="text" id="email"/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password"/>
    </div>
    <div>
        <button type="submit">register</button>
    </div>
</form>

{{!-- script? --}}