<article>
    <a href="/dashboard">Back to dashboard</a>
    <h3>
        Edit my Info
    </h3>
    <form class="update-user-form">
        <div>
            <label for="user-name">User Name</label>
            <input name="user-name" type="text" value="{{user.username}}"/>
        </div>
        <div>
            <label for="email">Email</label>
            <input name="email" value="{{user.email}}"/>
        </div>
                <div>
            <label for="password">Password</label>
            <input type="password" name="password"/>
        </div>
        <div>
            <input type="hidden" id="user-id" name="user-id" value="{{user.id}}"/>
        </div>
        <button type="submit">Update</button>
    </form>
</article>

<script src="/public/js/updateUser.js"></script>