:root {

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    font-family: sans-serif;
    background-color: gray;
    margin: 0%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: green;
}


button {
    background-color: #225ca3;
    border: 0;
    padding: 2%;
    color: gray;
    font-weight: bold;
    cursor: pointer;
    border-radius: 2rem;
}

button:hover {
    background-color: green;
}

.post-list {
    border-radius: 15%;
    margin: 10;
    padding: 10;
    list-style-type: disc;
}

li {
    border: solid #bbb .5rem;
    margin: 5;
    padding: 5;
    /* border-radius: 5rem; */
}

textarea {
    min-width: 45%;
    min-height: auto;
}

textarea input {
    padding: 1%;
    border-radius: 2rem;
    border: 2px solid black;
}

form label {
    display: block;
}

.wrapper {
    width: 100%;
    min-width: none;
    min-height: auto;
    display: flex;
    flex-direction: column;
}

main {
    padding: 3%;
}

nav {
    padding: 2rem;
    text-align: right;
}

header h1 {
    font-size: 2rem;
    border: 4px inset #6d6d6d;
    border-radius: 4px;
    padding: 1.15rem;
    background-color: #bbb;
}

header {
    display: flex;
    padding: 1%;
    align-items: center;
    justify-content: center;
    background-color: #333;
    border-bottom: #ccc;
}

main {
    flex: 1;
    padding: 3%;
}

.post {
    margin-bottom: 3%;
}

.post .title {
    font-style: italic;
    font-size: 1.15rem;
    color: #333;
}
